<div class="row">
	<div class="btn-group col-xs-12" role="group" aria-label="...">
		<% HomeController::ACTIONS.each do |a| %>
		<% 
		action = a.camelize
		action_display_name = a.gsub('_', ' ').titleize 
		%>
			<button ng-if="showButton('<%=action%>')" type="button" class="btn btn-sm btn-default" ng-click="showActionForm('<%=action%>')" ng-mouseover="overActionButton('<%=action%>')" ng-mouseleave="leaveActionButton('<%=action%>')">
				<img class="icon" src="/icons/actions/<%=a%>.png" title="<%=action_display_name%>"><span id="button-<%=action%>" class="action-button-text" ng-if="showHover('<%=action%>')"><%=action_display_name%></span>
			</button>
		<% end %>
	</div>
</div>